<div class="text-layout">
  <h1>DecimalPipe y porcentajes</h1>
  <p>Pipes incluidos en Angular - Usualmente en el CommonModule</p>
</div>

<div class="grid">
  <div class="col-4">
    <p-card header="Ventas netas" subheader="del periodo">
      <p><b>ventasNetas sin pipe:</b> {{ ventasNetas }}</p>
      <p>
        <b>ventasNetas | number -></b>
        {{ ventasNetas | number }}
      </p>
      <p>
        <b>ventasNetas | number: "1.2-2" -></b>
        {{ ventasNetas | number: "1.2-2" }}
      </p>
      <p>
        <b>ventasNetas | number: "1.2-2":"en" -></b>
        {{ ventasNetas | number: "1.1-2":"en" }}
      </p>
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="Ventas brutas" subheader="del periodo">
      <p>
        <b>ventasNetas | currency -></b>
        {{ ventasNetas | currency }}
      </p>
      <p>
        <b>ventasNetas | currency:"Doblones" -></b>
        {{ ventasNetas | currency: "Doblones" }}
      </p>
      <p>
        <b>ventasNetas | currency:"CAD" -></b>
        {{ ventasNetas | currency: "CAD" }}
      </p>
      <p>
        <b>ventasNetas | currency:"CAD":"symbol-narrow" -></b>
        {{ ventasNetas | currency: "CAD":"symbol-narrow" }}
      </p>
      <p>
        <b>ventasNetas | currency: "EUR":"symbol":"1.1-1" -></b>
        {{ ventasNetas | currency: "EUR":"symbol":"1.1-1" }}
      </p>
      <p>
        <b>ventasNetas | currency: "EUR":"symbol":"1.1-1":"en" -></b>
        {{ ventasNetas | currency: "EUR":"symbol":"1.1-1":"en" }}
      </p>
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="Margen" subheader="del periodo">
      <p><b>porcentaje sin pipe:</b> {{ porcentaje }}</p>
      <p>
        <b>porcentaje | percent -></b>
        {{ porcentaje | percent }}
      </p>
      <p>
        <b>porcentaje | percent: "1.2-2" -></b>
        {{ porcentaje | percent: "1.1-2" }}
      </p>
      <p>
        <b>porcentaje | percent: "1.2-2":"en" -></b>
        {{ porcentaje | percent: "1.1-2":"en" }}
      </p>
    </p-card>
  </div>
</div>
